/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    /*color: #222;*/
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color: #ccc;
    background-color: #222;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.no-list-style {
    list-style-type: none;
    padding-left: 0;
}

a.btn {
    background-color: #07f;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem;
    border-radius: 4px;
}

a.external-link {
  color: #ccc;
}

.profile {
  width: 128px;
  height: 128px;
  border-radius: 1rem;
}

.jumbo-profile {
    width: 256px;
    height: 256px;
    border-radius: 1rem;
}

.page-header,
.page-footer {
    width: 100%;
    text-align: center;
}

.page-header-divider {
    margin: 0;
}

.page-footer h2 {
    margin-bottom: 1rem;
}

.page-header,
.page-main,
.page-footer .page-navigation,
.page-footer .contact-info {
    padding: 1rem;
}

.page-main {
    padding-top: 2rem;
}

.page-footer .page-navigation {
    background-color: #333;
}

.page-footer .contact-info {
    background-color: #444;
}

.page-footer * {
    margin: 0;
}

.page-link-item {
    display: block;
    margin-bottom: 1rem;
}

.page-link-item a {
    color: #ccc;
    text-decoration: none;
}

.page-header .page-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-brand .brand-name {
    display: block;
}

main {
    flex: 1;
}

.page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.page-main h1 {
    margin-bottom: 0;
}

.about-me {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

.projects-content {
    display: block;
    width: 100%;
}

.projects-content .projects-list {
    margin-left: -1rem;
    margin-right: -1rem;
}

.project-content {
    background-color: #333;
    padding: 1.5rem;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    .page-header {
        text-align: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-left: 0;
        padding-right: 0;
    }

    .page-header * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .page-header .page-brand {
        padding-left: unset;
    }

    .page-header .page-navigation .page-links-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .page-header .page-navigation .page-links-list .page-link-item {
        margin-bottom: unset;
        padding: 1rem;
    }

    .page-footer {
        text-align: unset;
        display: flex;
        flex-direction: row;
        padding-top: unset;
    }

    .page-footer .page-navigation {
        flex: 1;
    }

    .page-footer .contact-info {
        width: 350px;
    }

    .page-footer .page-navigation,
    .page-footer .contact-info {
        padding: 1rem;
    }

    .projects-content .projects-list {
        padding: 1.5rem;
    }

    .projects-content .projects-list li {
        text-align: left;
    }

    .project-content {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .project-content div {
        flex: 1;
    }

    .project-content aside {
        width: 300px;
    }
}

@media only screen and (min-width: 50em) {
  .about-me {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .project-content aside {
    width: 500px;
  }
}

@media only screen and (min-width: 70em) {
  .about-me {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .project-content aside {
    width: 700px;
  }
}

@media only screen and (min-width: 100em) {
  .about-me {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
